*, *:before, *:after {
	box-sizing: border-box;
}

html {
	direction: rtl;
}

body {
	font-family: 'Arimo', sans-serif;
	border-bottom: 22px solid #87c846;
	margin: 0;
	padding: 0;
	background-size: cover;
    background-position: center;

}

.table {
	    display: table;
	    width: 100%;
}

h1, h2,h3,h4,h5, h6, p {
	margin: 0;
	padding: 0;
}

/* #LOGO HEADER */
.logo-header {
	margin-bottom: 3rem;
}

.logo-header img {
	width: 200px;
}

.logo-header__title {
	font-size: 40px;
	position: relative;

}

.logo-header__title span {
	position: relative;
	color: #ffffff;
	font-size: 68px;
}

.logo-header__title--reverse span{
	color: #2c55ad;
	position: relative;
	font-size: 68px;
}


.logo-header__title--reverse span::after {
	content: "";
	position: absolute;
	height: 7px;
	background-color: #93cd57;
	width: 100%;
	left: 0;
    bottom: 0;
}

.logo-header__title span::after {
	content: "";
	position: absolute;
	height: 7px;
	background-color: #93cd57;
	width: 100%;
	left: 0;
    bottom: 0;
}

.logo-header__desc {
	color: white;
	font-weight: bold;
	font-size: 27px;
}
.logo-header__desc--reverse {
	color: #2c55ad;
	font-weight: bold;
	font-size: 27px;
}

.btn-green {
	border-radius: 10px;
	background-color: #87c846;
	border: none;
	color: white;
	padding: 7px 44px;
	font-size: 22px;
	color: rgb(255,255,255);
	font-family: "Arimo";
	font-weight: bold;
}

.card {
	border-radius: 17px;
	background-color: #ffffff;
	padding: 15px;
	margin: 0 auto;
}

.card__title {
	border-radius: 10px;
	background-color: #0f295f;
	color: white;
	text-align: center;
	font-size: 24px;
	padding: 9px 0;
	margin-bottom: 9px;
	color: rgb(255,255,255);
	font-family: "Arimo";
	font-weight: bold;
}

.login-inputs-wrap {
position: relative;
}

.login-inputs-wrap img {
    position: absolute;
    right: 15px;
    bottom: 0;
    max-width: 30px;
    top: 42%;
    transform: translateY(-50%);
}

.login-inputs-wrap input {
	position: relative;
    padding-right: 60px;
}

.max-width-950 {
	max-width: 950px;
}

.vertical-mid,
.vertical-mid-pg {
	vertical-align: middle;
    text-align: center;
    padding: 15px;
}



.vert-mid {
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
}

input {
	border-radius: 10px;
	border: none;
	padding: 12px;
	width: 100%;
	font-size: 1.1rem;
	background-image: linear-gradient(90deg, #7991cb 0%, #dbe1f1 100%);
	margin-bottom: 9px;
}
input::placeholder {
	color: #0f295f;
}
label {
	font-size: 13px;
	color: rgb(15,41,95);
	font-family: "Arimo";
}

.login-label label {
	    position: relative;
    padding: 0;
}

.login-label:after {
	    position: absolute;
    content: '';
    top: 50%;
    right: -45px;
    transform: translateY(-50%);
    width: 25px;
    height: 25px;
    border: 1px solid #fff;
        width: 20px;
    height: 20px;
    right: -35px;
}

form {
	margin: 0;
	padding: 0;
}

.card--login {
	max-width: 530px;
}

.card__footer {
	clear: both;
    display: table;
    width: 100%;
}

.card__check-wrap {
	
}

.card__btn-wrap {
	display: block;
}



.clearfix {
	clear: both;
    display: table;
    width: 100%;
}

.after-login-item {
    padding: 12px 0;
    width: 155px;
    margin: 0 8px;
    display: inline-block;
    margin-bottom: 25px;
}
 

.red-item {
	padding: 13px 0;

    margin: 0 14px;
    display: inline-block;
    margin-bottom: 25px;
   
}

.red-item h3{
	    margin-top: 10px;
	        color: rgb(15,41,95);
}
.red-item__img {
	 width: 200px;
    height: 200px;
     background-color: red;
     	background-size: cover;
    background-position: center;
}

.item {
	padding: 12px 0;
    width: 155px;
    margin: 0 8px;
    display: inline-block;
    margin-bottom: 25px;
}

.item__icon {
    display: block;
    height: 75px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.item__title {
	font-size: 17px;
	color: rgb(15,41,95);
	font-family: "Arimo";
	font-weight: bold;
	font-weight: 800;
}

.pin {
	height: 265px;
    width: 280px;
    object-fit: contain;
    background-repeat: no-repeat;
    background-size: 280px;
    padding: 57px 9px 0;
}

.card-s {
	padding-bottom: 33px;
}

.pin p,
.pin p a {
	font-size: 19px;
	color: rgb(15,41,95);
	font-family: "Arimo";
	margin-bottom: 7px;;
	text-decoration: none;
}

.pin__title {
	font-size: 18px;
	color: rgb(15,41,95);
	font-family: "Arimo";
	font-weight: bold;
	margin-bottom: 29px;
}

.grad-blue {
	border-radius: 10px;
	background-image: linear-gradient(0deg, #d9f4fd 0%, #5ad4f7 100%);
}

.grad-blue-reverse {
	border-radius: 10px;
	background-image: linear-gradient(0deg, #5ad4f7 0%, #d9f4fd 100%);
}

.grad-green {
	border-radius: 10px;
	background-image: linear-gradient(0deg, #f3f9ed 0%, #87c846 100%);
}

.grad-green-reverse {
	border-radius: 10px;
	background-image: linear-gradient(0deg, #87c846 0%, #f3f9ed 100%);
}

.grad-azzurro {
	border-radius: 10px;
	background-image: linear-gradient(30deg, #dbe1f1 0%, #7991cb 100%);
}

.grad-azzurro-reverse {

}

.grad-orange {
	border-radius: 10px;
	background-image: linear-gradient(0deg, #fffadc 0%, #fff185 100%);
}

.grad-orange-reverse {

}

.grad-red {

}

.grad-red-reverse {
	border-radius: 10px;
	background-image: linear-gradient(0deg, #ff9970 0%, #ff9970 0%, #fff2ec 100%);
}






.max-55 {
	    max-width: 550px;
}






 
.checkbox {
  position: relative;
  display: flex;
  align-items: center;
}
.checkbox + .checkbox {
  margin-top: 0.5rem;
}
.checkbox-inline {
  display: inline-flex;
}
.checkbox-inline + .checkbox-inline {
  margin-top: 0;
  margin-left: 1rem;
}
.checkbox-input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.checkbox-label {
	padding-right: 2.5rem;
  font-size: 1rem;
  line-height: 2.5rem;
  cursor: pointer;
}
.checkbox-label:empty {
  min-width: 1rem;
  min-height: 1.5rem;
  padding-left: 0;
}
.checkbox-label::before {
  content: "";
  position: absolute;
  top: 0.25rem;
  right: 0;
  box-sizing: border-box;
  background: white center no-repeat;
  background-size: 1.5rem;
  transition: border-color 200ms linear, background-color 200ms linear;
  width: 34px;
height: 32px;
border-radius: 4px;
background-image: linear-gradient(90deg, #dbe1f1 0%, #7991cb 100%);
}
.checkbox-input:hover + .checkbox-label::before, .checkbox-input:focus + .checkbox-label::before {
  border-color: mediumblue;
}
.checkbox-input:checked + .checkbox-label::before {
  background-image: linear-gradient(90deg, #dbe1f1 0%, #7991cb 100%);
}
.checkbox-input:checked + .checkbox-label::after {
     position: absolute;
    content: '';
        top: 13px;
    width: 14px;
    line-height: 14px;
    height: 14px;
    background: #103789;
    z-index: 3;
    right: 10px;
    border-radius: 50%;
	}
.checkbox-input:checked:hover + .checkbox-label::before, .checkbox-input:checked:focus + .checkbox-label::before {
  background-image: linear-gradient(90deg, #dbe1f1 0%, #7991cb 100%);
}
 
 


.mod-check:before { 
width: 34px;
height: 32px;
border-radius: 4px;
background-image: linear-gradient(90deg, #dbe1f1 0%, #7991cb 100%);
}

a{
	text-decoration: none;
}

button {
	border: 0;
	outline: none;
	cursor: pointer;
}

.text-res {
	text-align: center;
    padding-right: 10px;
    padding-left: 10px;
}



@media only screen and (max-width: 290px) {
	.pin {
		width: 100%;
	}
}



@media only screen and (max-width: 1250px ) {
	.pin {
		margin: 0 auto;
   		margin-top: 20px;
	}
}

 

@media only screen and (min-width: 1250px ) {
		.pin {
			position: absolute;
		    left: 0;
		    top: 5px;
		}
		.vertical-mid {
		    vertical-align: middle;
    text-align: center;
    position: relative;
    
    width: 90%;
    display: table-cell;
    vertical-align: middle;
		}
		.vertical-mid-pg {
			vertical-align: middle;
    text-align: center;
    position: relative;
    
    width: 90%;
    display: table-cell;
    vertical-align: middle;
	
		}
}

@media only screen and (max-width: 520px) {
	.btn-green {
	    width: 100%;
	}


}

@media only screen and (min-width: 520px) {
	.card__check-wrap {
		float: right;
		display: inline-block;
	}
	.card__btn-wrap {
		float: left;
    	text-align: left;
	}

	.text-res {
		text-align: right;
	    padding-left: 50px;
	    padding-right: 50px;
	}




}